@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@keyframes splide-loading {
  0% {
    transform: rotate(0); }
  to {
    transform: rotate(1turn); } }

.splide__container {
  position: relative;
  box-sizing: border-box; }

.splide__list {
  margin: 0 !important;
  padding: 0 !important;
  width: -webkit-max-content;
  width: max-content;
  will-change: transform; }

.splide.is-active .splide__list {
  display: flex; }

.splide__pagination {
  display: inline-flex;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0; }

.splide__pagination li {
  list-style-type: none;
  display: inline-block;
  line-height: 1;
  margin: 0; }

.splide {
  visibility: hidden; }

.splide, .splide__slide {
  position: relative;
  outline: none; }

.splide__slide {
  box-sizing: border-box;
  list-style-type: none !important;
  margin: 0;
  flex-shrink: 0; }

.splide__slide img {
  vertical-align: bottom; }

.splide__slider {
  position: relative; }

.splide__spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
  border-left-color: transparent;
  animation: splide-loading 1s linear infinite; }

.splide__track {
  position: relative;
  z-index: 0;
  overflow: hidden; }

.splide--draggable > .splide__track > .splide__list > .splide__slide {
  -webkit-user-select: none;
  user-select: none; }

.splide--fade > .splide__track > .splide__list {
  display: block; }

.splide--fade > .splide__track > .splide__list > .splide__slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0; }

.splide--fade > .splide__track > .splide__list > .splide__slide.is-active {
  position: relative;
  z-index: 1;
  opacity: 1; }

.splide--rtl {
  direction: rtl; }

.splide--ttb > .splide__track > .splide__list {
  display: block; }

.splide--ttb > .splide__pagination {
  width: auto; }

.splide__arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  opacity: .7;
  background: #ccc; }

.splide__arrow svg {
  width: 1.2em;
  height: 1.2em; }

.splide__arrow:hover {
  cursor: pointer;
  opacity: .9; }

.splide__arrow:focus {
  outline: none; }

.splide__arrow--prev {
  left: 1em; }

.splide__arrow--prev svg {
  transform: scaleX(-1); }

.splide__arrow--next {
  right: 1em; }

.splide__pagination {
  position: absolute;
  z-index: 1;
  bottom: .5em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0; }

.splide__pagination__page {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  margin: 3px;
  padding: 0;
  transition: transform .2s linear;
  border: none;
  opacity: .7; }

.splide__pagination__page.is-active {
  transform: scale(1.4);
  background: #fff; }

.splide__pagination__page:hover {
  cursor: pointer;
  opacity: .9; }

.splide__pagination__page:focus {
  outline: none; }

.splide__progress__bar {
  width: 0;
  height: 3px;
  background: #ccc; }

.splide--nav > .splide__track > .splide__list > .splide__slide {
  border: 3px solid transparent; }

.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  border-color: #000; }

.splide--nav > .splide__track > .splide__list > .splide__slide:focus {
  outline: none; }

.splide--rtl > .splide__arrows .splide__arrow--prev, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
  right: 1em;
  left: auto; }

.splide--rtl > .splide__arrows .splide__arrow--prev svg, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: scaleX(1); }

.splide--rtl > .splide__arrows .splide__arrow--next, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
  left: 1em;
  right: auto; }

.splide--rtl > .splide__arrows .splide__arrow--next svg, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: scaleX(-1); }

.splide--ttb > .splide__arrows .splide__arrow, .splide--ttb > .splide__track > .splide__arrows .splide__arrow {
  left: 50%;
  transform: translate(-50%); }

.splide--ttb > .splide__arrows .splide__arrow--prev, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev {
  top: 1em; }

.splide--ttb > .splide__arrows .splide__arrow--prev svg, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: rotate(-90deg); }

.splide--ttb > .splide__arrows .splide__arrow--next, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--next {
  top: auto;
  bottom: 1em; }

.splide--ttb > .splide__arrows .splide__arrow--next svg, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: rotate(90deg); }

.splide--ttb > .splide__pagination {
  display: flex;
  flex-direction: column;
  bottom: 50%;
  left: auto;
  right: .5em;
  transform: translateY(50%); }

.xsmall {
  font-size: 0.6em; }

.small {
  font-size: 1.2em; }

.medium {
  font-size: 2.4em; }

.large {
  font-size: 2.4em; }
  @media (min-width: 414) {
    .large {
      font-size: 2.7em; } }

.heading {
  font-family: "Prata", serif; }

.sub {
  font-size: 1.8em; }

h1, h2, h3 {
  font-weight: normal; }

.btn-primary {
  background-color: #F1FFCB;
  border: solid 1px #F1FFCB;
  border-radius: 100px;
  padding: 0.9rem 2rem;
  color: #090F34; }
  .btn-primary:hover {
    background-color: #DADBE6;
    border: solid 1px #DADBE6;
    color: #090F34; }

.btn-secondary {
  background-color: #090F34;
  border: solid 1px #090F34;
  border-radius: 100px;
  padding: 0.9rem 2rem;
  color: #ffffff; }
  .btn-secondary:hover {
    background-color: #DADBE6;
    border: solid 1px #DADBE6;
    color: #090F34; }

.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 1024px) {
  .container-xl {
    max-width: 1024px; } }

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1280px; } }

html, body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  padding: 0;
  margin: 0;
  color: #090F34; }

body {
  position: relative; }

p {
  padding: 0;
  margin: 0; }

section {
  width: 100%; }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  opacity: 0;
  z-index: 10;
  transition: all 0.2s;
  background: linear-gradient(180deg, #545871 0%, rgba(84, 88, 113, 0.497637) 70%, rgba(255, 255, 255, 0) 100%); }
  @media (min-width: 768px) {
    #overlay {
      display: none; } }

#hero {
  background-image: url("../../img/pooch.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  #hero header {
    padding-top: 20px; }
    @media (min-width: 768px) {
      #hero header {
        padding-top: 60px; } }
    #hero header #logo {
      display: block;
      width: 221px;
      height: 64px;
      background-image: url("../../img/pawtastic-logo.png");
      background-repeat: no-repeat;
      background-size: 75%;
      position: relative;
      z-index: 11; }
      @media (min-width: 768px) {
        #hero header #logo {
          background-size: 90%; } }
    #hero header #burger {
      position: absolute;
      z-index: 11;
      top: 0;
      right: 20px;
      width: 40px;
      height: 40px; }
      @media (min-width: 768px) {
        #hero header #burger {
          display: none; } }
      #hero header #burger:before, #hero header #burger:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        transition: all 0.2s; }
      #hero header #burger:before {
        top: 10px; }
      #hero header #burger:after {
        bottom: 10px; }
      #hero header #burger.open:before {
        top: 20px;
        transform: rotate(45deg); }
      #hero header #burger.open:after {
        top: 20px;
        transform: rotate(-45deg); }
    #hero header nav {
      padding: 20px 0 0 0;
      position: absolute;
      z-index: 11;
      display: none;
      pointer-events: none; }
      #hero header nav.open {
        display: block;
        pointer-events: unset; }
      @media (min-width: 768px) {
        #hero header nav {
          display: flex;
          position: relative;
          pointer-events: unset; } }
      #hero header nav a {
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        padding: 0 20px 10px 0;
        font-size: 1em;
        display: block; }
        @media (min-width: 768px) {
          #hero header nav a {
            display: initial;
            font-size: 0.8em; } }
        @media (min-width: 1200px) {
          #hero header nav a {
            padding: 0 50px 0 0; } }
        #hero header nav a:hover {
          text-decoration: underline; }
  #hero .group {
    padding: 30px 0 60px 0; }
    @media (min-width: 768px) {
      #hero .group {
        padding: 70px 0 140px 0; } }
    #hero .group h1 {
      color: #ffffff;
      max-width: 460px;
      margin: 0 0 60px 0; }

#grid {
  padding: 60px 0; }
  @media (min-width: 768px) {
    #grid {
      padding: 100px 0; } }
  #grid .row {
    align-items: center; }
  @media (min-width: 768px) {
    #grid .group {
      padding: 0 80px; } }
  #grid .group p {
    padding: 30px 0; }
  #grid .grid-images {
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px; }
    @media (min-width: 768px) {
      #grid .grid-images {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0; } }
    #grid .grid-images .grid-image {
      float: left;
      width: 50%;
      padding: 15px;
      position: relative; }
      #grid .grid-images .grid-image img {
        width: 100%; }
      #grid .grid-images .grid-image .tab {
        position: absolute;
        background-color: #F7ECEB;
        top: 15px;
        right: 40px;
        padding: 5px 15px;
        font-weight: bold;
        text-transform: uppercase; }

#services .row {
  background-color: #F1FFCB;
  align-items: center; }
  #services .row .col-md-6:nth-child(1) {
    padding-left: 0;
    padding-right: 0; }
  #services .row .col-md-6:nth-child(2) {
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 768px) {
      #services .row .col-md-6:nth-child(2) {
        padding-left: 0;
        padding-right: 0; } }
  #services .row .col-md-6 .group {
    padding: 60px 0; }
    @media (min-width: 768px) {
      #services .row .col-md-6 .group {
        padding: 0 40px; } }
    @media (min-width: 1200px) {
      #services .row .col-md-6 .group {
        padding: 0 80px; } }
    #services .row .col-md-6 .group p {
      padding: 30px 0; }
  #services .row img {
    width: 100%; }

#carousel {
  background-color: #090F34;
  padding: 60px 0 100px 0; }
  @media (min-width: 768px) {
    #carousel {
      padding: 100px 0 180px 0; } }
  #carousel h2 {
    color: #F1FFCB;
    text-align: center;
    padding: 0 0 60px 0; }
  #carousel #carousel-wrapper .splide__slide {
    display: block;
    background-color: #545871;
    border-radius: 10px;
    overflow: hidden; }
    @media (min-width: 768px) {
      #carousel #carousel-wrapper .splide__slide {
        display: flex; } }
    #carousel #carousel-wrapper .splide__slide .slide-image {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 250px; }
      @media (min-width: 768px) {
        #carousel #carousel-wrapper .splide__slide .slide-image {
          width: 40%;
          height: unset;
          border-radius: 7px; } }
    #carousel #carousel-wrapper .splide__slide .slide-content {
      width: 100%;
      padding: 45px; }
      @media (min-width: 768px) {
        #carousel #carousel-wrapper .splide__slide .slide-content {
          width: 60%; } }
      #carousel #carousel-wrapper .splide__slide .slide-content h3 {
        color: #F1FFCB; }
      #carousel #carousel-wrapper .splide__slide .slide-content p {
        color: #ffffff; }
      #carousel #carousel-wrapper .splide__slide .slide-content a {
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
        color: #F1FFCB;
        float: right; }
  #carousel .splide__pagination {
    bottom: -60px; }
    #carousel .splide__pagination .splide__pagination__page {
      width: 14px;
      height: 14px;
      background: none;
      border: 1px solid #F1FFCB;
      opacity: 1;
      margin: 0 5px; }
      #carousel .splide__pagination .splide__pagination__page.is-active {
        background: #F1FFCB;
        transform: none; }

#options {
  background-color: #F7ECEB;
  padding: 60px 0; }
  @media (min-width: 768px) {
    #options {
      padding: 60px 0; } }
  #options .group {
    margin: 0 auto;
    max-width: 720px; }
    #options .group h2, #options .group p {
      text-align: center; }
    #options .group p {
      padding: 30px 0; }
  #options .option-list {
    display: block;
    padding: 65px 0 0 0; }
    @media (min-width: 768px) {
      #options .option-list {
        display: flex;
        justify-content: center;
        padding: 100px 0 0 0; } }
    #options .option-list .option {
      width: 100%;
      border: 1px solid #545871;
      border-radius: 10px;
      margin: 0 0 65px 0; }
      @media (min-width: 768px) {
        #options .option-list .option {
          width: 350px;
          margin: 0 20px; } }
      #options .option-list .option .top {
        background-color: #F1FFCB;
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 75px 0 30px 0;
        border-bottom: 1px solid #545871;
        min-height: 300px; }
        #options .option-list .option .top .icon {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          border: 1px solid #545871;
          position: absolute;
          top: -45px;
          left: calc(50% - 45px);
          background-color: #F1FFCB;
          background-repeat: no-repeat;
          background-position: center; }
          #options .option-list .option .top .icon.flower {
            background-image: url("../../img/flower.svg"); }
          #options .option-list .option .top .icon.wave {
            background-image: url("../../img/wave.svg"); }
          #options .option-list .option .top .icon.home {
            background-image: url("../../img/home.svg"); }
        #options .option-list .option .top h4, #options .option-list .option .top p {
          text-align: center;
          max-width: 65%;
          margin: 0 auto; }
        #options .option-list .option .top h4 {
          font-family: "Prata", serif; }
        #options .option-list .option .top p {
          padding: 30px 0 0 0; }
      #options .option-list .option .bottom {
        padding: 20px 0 30px 0; }
        #options .option-list .option .bottom .rate, #options .option-list .option .bottom .unit {
          text-align: center;
          line-height: 1em; }
        #options .option-list .option .bottom .unit {
          color: #9597A6;
          text-transform: uppercase;
          font-weight: bold; }
  #options .btn-secondary {
    margin: 75px auto 0 auto;
    display: block; }
