//  abstract

$headerfont: 'Prata', serif;
$bodyfont: 'Montserrat', sans-serif;
$base: 18px;  //  base font size

//  colours

$black: #000000;
$white: #ffffff;
$pink: #545871;
$lightpink: #F7ECEB;
$bgblue: #090F34;
$cream: #F1FFCB;
$grey: #9597A6;
$hover: #DADBE6;

//  typography

.xsmall{ font-size: 0.6em; }
.small{ font-size: 1.2em; }
.medium{ font-size: 2.4em; }
.large{ 
    font-size: 2.4em; 
    @media (min-width: 414){
        font-size: 2.7em; 
    }
}
.heading{ font-family: $headerfont; }
.sub{ font-size: 1.8em; }

h1, h2, h3{
    font-weight: normal;
}

//  buttons

.btn-primary{
    background-color: $cream;
    border: solid 1px $cream;
    border-radius: 100px;
    padding: 0.9rem 2rem;
    color: $bgblue;
    &:hover{
        background-color: $hover;
        border: solid 1px $hover;
        color: $bgblue;
    }
}

.btn-secondary{
    background-color: $bgblue;
    border: solid 1px $bgblue;
    border-radius: 100px;
    padding: 0.9rem 2rem;
    color: $white;
    &:hover{
        background-color: $hover;
        border: solid 1px $hover;
        color: $bgblue;
    }
}

//  bootstrap extension

.container-xl{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1024px){
    .container-xl{
        max-width: 1024px;
    }
}

@media (min-width: 1200px){
    .container-xl{
        max-width: 1280px;
    }
}

