//  structure

html, body{
    font-family: $bodyfont;
    font-size: $base;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
    color: $bgblue;
}

body{
    position: relative;
}

p{
    padding: 0;
    margin: 0;
}

section{
    width: 100%;
}

//  hero

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    opacity: 0;
    z-index: 10;
    transition: all 0.2s;
    background: linear-gradient(180deg, rgba(84,88,113,1) 0%, rgba(84,88,113,0.49763655462184875) 70%, rgba(255,255,255,0) 100%);
    @media (min-width: 768px){
        display: none;
    }
}

#hero{
    background-image: url('../../img/pooch.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    header{
        padding-top: 20px;
        @media (min-width: 768px){
            padding-top: 60px;
        }
        #logo{
            display: block;
            width: 221px;
            height: 64px;
            background-image: url('../../img/pawtastic-logo.png');
            background-repeat: no-repeat;
            background-size: 75%;
            position: relative;
            z-index: 11;
            @media (min-width: 768px){
                background-size: 90%;
            }
        }
        #burger{
            position: absolute;
            z-index: 11;
            top: 0;
            right: 20px;
            width: 40px;
            height: 40px;
            @media (min-width: 768px){
                display: none;
            }
            &:before, &:after{
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $white;
                transition: all 0.2s;
            }
            &:before{
                top: 10px;
            }
            &:after{
                bottom: 10px;
            }
            &.open{
                &:before{
                    top: 20px;
                    transform: rotate(45deg);
                }
                &:after{
                    top: 20px;
                    transform: rotate(-45deg);
                }
            }
        }
        nav{
            padding: 20px 0 0 0;
            position: absolute;
            z-index: 11;
            display: none;
            pointer-events: none;
            &.open{
                display: block;
                pointer-events: unset;
            }
            @media (min-width: 768px){
                display: flex;
                position: relative;
                pointer-events: unset;
            }
            a{
                font-weight: bold;
                text-transform: uppercase;
                color: $white;
                text-decoration: none;
                padding: 0 20px 10px 0;
                font-size: 1em;
                display: block;
                @media (min-width: 768px){
                    display: initial;
                    font-size: 0.8em;
                }
                @media (min-width: 1200px){
                    padding: 0 50px 0 0;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .group{
        padding: 30px 0 60px 0;
        @media (min-width: 768px){
            padding: 70px 0 140px 0;
        }
        h1{
            color: $white;
            max-width: 460px;
            margin: 0 0 60px 0;
        }
    }
}

//  grid

#grid{
    padding: 60px 0;
    @media (min-width: 768px){
        padding: 100px 0;
    }
    .row{
        align-items: center;
    }
    .group{
        @media (min-width: 768px){
            padding: 0 80px;
        }
        p{
            padding: 30px 0;
        }
    }
    .grid-images{
        padding-left: 0;
        padding-right: 0;
        padding-top: 40px;
        @media (min-width: 768px){
            padding-left: 15px;
            padding-right: 15px;   
            padding-top: 0;  
        }
        .grid-image{
            float: left;
            width: 50%;
            padding: 15px;
            position: relative;
            img{
                width: 100%;
            }
            .tab{
                position: absolute;
                background-color: $lightpink;
                top: 15px;
                right: 40px;
                padding: 5px 15px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

//  services

#services{
    .row{
        background-color: $cream;
        align-items: center;
        .col-md-6{
            &:nth-child(1){
                padding-left: 0;
                padding-right: 0;
            }
            &:nth-child(2){
                padding-left: 15px;
                padding-right: 15px;
                @media (min-width: 768px){
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .group{
                padding: 60px 0;
                @media (min-width: 768px){
                    padding: 0 40px;
                }
                @media (min-width: 1200px){
                    padding: 0 80px;
                }
                p{
                    padding: 30px 0;
                }
            }
        }
        img{
            width: 100%;
        }
    }
}

//  carousel

#carousel{
    background-color: $bgblue;
    padding: 60px 0 100px 0;
    @media (min-width: 768px){
        padding: 100px 0 180px 0;
    }
    h2{
        color: $cream;
        text-align: center;
        padding: 0 0 60px 0;
    }
    #carousel-wrapper{
        .splide__slide{
            display: block;
            background-color: $pink;
            border-radius: 10px;
            overflow: hidden;
            @media (min-width: 768px){
                display: flex;
            }
            .slide-image{
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 250px;
                @media (min-width: 768px){
                    width: 40%;
                    height: unset;
                    border-radius: 7px;
                }
            }
            .slide-content{
                width: 100%;
                padding: 45px;
                @media (min-width: 768px){
                    width: 60%;
                }
                h3{
                    color: $cream;
                }
                p{
                    color: $white;
                }
                a{
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: underline;
                    color: $cream;
                    float: right;
                }
            }
        }
    }
    .splide__pagination{
        bottom: -60px;
        .splide__pagination__page{
            width: 14px;
            height: 14px;
            background: none;
            border: 1px solid $cream;
            opacity: 1;
            margin: 0 5px;
            &.is-active{
                background: $cream;
                transform: none;
            }
        }
    }
}

//  options

#options{
    background-color: $lightpink;
    padding: 60px 0;
    @media (min-width: 768px){
        padding: 60px 0;
    }
    .group{
        margin: 0 auto;
        max-width: 720px;
        h2, p{
            text-align: center;
        }
        p{
            padding: 30px 0;
        }
    }
    .option-list{
        display: block;
        padding: 65px 0 0 0;
        @media (min-width: 768px){
            display: flex;
            justify-content: center;
            padding: 100px 0 0 0;
        }
        .option{
            width: 100%;
            border: 1px solid $pink;
            border-radius: 10px;
            margin: 0 0 65px 0;
            @media (min-width: 768px){
                width: 350px;
                margin: 0 20px;
            }
            .top{
                background-color: $cream;
                position: relative;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 75px 0 30px 0;
                border-bottom: 1px solid $pink;
                min-height: 300px;
                .icon{
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    border: 1px solid $pink;
                    position: absolute;
                    top: -45px;
                    left: calc(50% - 45px);
                    background-color: $cream;
                    background-repeat: no-repeat;
                    background-position: center;
                    &.flower{
                        background-image: url('../../img/flower.svg');
                    }
                    &.wave{
                        background-image: url('../../img/wave.svg');
                    }
                    &.home{
                        background-image: url('../../img/home.svg');
                    }
                }
                h4, p{
                    text-align: center;
                    max-width: 65%;
                    margin: 0 auto;
                }
                h4{
                    font-family: $headerfont;
                }
                p{
                    padding: 30px 0 0 0;
                }
            }
            .bottom{
                padding: 20px 0 30px 0;
                .rate, .unit{
                    text-align: center;
                    line-height: 1em;
                }
                .unit{
                    color: $grey;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
    .btn-secondary{
        margin: 75px auto 0 auto;
        display: block;
    }
}